<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @material.title %>
</p>

<p>
  <b>Rating:</b>
  <%= ratings_for @material %>
</p>

<p>
  <b>Description:</b>
  <%= @material.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @material.image.url(:medium) %>
</p>

<p>
  <b>Download:</b>
  <%= link_to @material.blend %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
