<div class="content">
  <div class="page-header">
    <h1>
      <%= @material.title %>
      <%= ratings_for @material %>
    </h1>
  </div>
  <div class="row">
    <div class="span10">
      <%= image_tag @material.image.url(:medium) %>
      <p>
      <%= @material.description.html_safe %>
      </p>
    </div>
    <div class="span4">
      <a href="<%= @material.blend.url %>" class="btn large primary">Download</a>
      <h3>Tags:</h3>
      <% @material.tag_list.each do |tag| %>
        <span class="label"><%= tag %></span>
      <% end %>
    </div>
  </div>
</div>

